.dados {
    background: rgb(177, 190, 216);
}

.container {
    width: 85%;
}

h1 {
    text-align: center;
    font-size: 46px;
    margin-bottom: 80px;
}

#canvas{
position: relative;
margin: auto;
height: 110vh;
width: 75vw;
}

#canvas-two{
position: relative;
margin: auto;
height: 110vh;
width: 75vw;
}

#canvas-three{
position: relative;
margin: auto;
height: 110vh;
width: 75vw;
}