<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../controller/script.js"></script>
    <link rel="stylesheet" href="../css/home.css">
    <title>Home Page</title>
</head>
<body> 
    <input type="checkbox" id="check">
    <label id="icone" for="check"><img src="../css/image/icone.png"></label>

    <div class="barra">
        <nav>
            <a href="../view/login.html"><div class="link">Login</div></a>
            <a href="../view/cadastro.html"><div class="link">Cadastro</div></a>
            <a href="../view/sobre.html"><div class="link">Sobre</div></a>
        </nav>
    </div>

    <div class="texto">
        <h2>Conheça dicas que vão alavancar a revenda de games</h2>
        <div>
            <h1><li>Invista no que está em alta</li></h1>
            <p class="conteudo">
                Por incrível que pareça existem jogos que aparecem e fazem o  maior sucesso,<br> enquanto alguns surgem e permanecem apagados como se nunca tivessem existido.
                Você precisa<br> ter  os olhos e ouvidos bem atentos para perceber o que está fazendo sucesso no momento e ir com <br> tudo em direção a isso. 
                Revender games que explodem e são muito falados como Minecraft,<br>  Freefire, Fortnite, PES e Fifa é uma das decisões que podem fazer o seu faturamento triplicar.
            </p>
        </div>
        <div>
            <h1><li>Conheça cada produto que vai vender</li></h1>
            <p class="conteudo">
                As pessoas que compram games gostam de conversar sobre ele e de entender <br> vantagens e 
                desvantagens em relação a jogabilidade, gráfico e especificações gerais. <br>
                Por isso, estude cada produto para conseguir convencer a sua clientela a <br>
                passar o cartão na hora que você quiser.
            </p>
        </div>
        <div>
            <h1><li>Tenha produtos complementares</li></h1>
            <p class="conteudo">
                A experiência dos jogos pode ser muito melhor com o acréscimo de acessórios como fone de ouvido, <br>
                ou óculos especiais, então, por que não investir nisso? <br>
                Venda tudo que estiver relacionado com esse universo que você vai criar destaque no mercado <br>
                e ter um rendimento diferenciado dos seus concorrentes.
            </p>
        </div>
    </div>
</body>
</html>