<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../controller/script.js"></script>
    <link rel="stylesheet" href="../css/styled.css">
    <title>Tela Login</title>
</head>
<body> 
    <form>
        <div class="container2">
            <h2>Tela de Login</h2>
            <div >
                <label class="login">Login:</label>
                <input class="cadastrar" type="text" id="user"> 
            </div>
            <div>
                <label class="senha">Senha:</label>            
                <input class="cadastrar" type="password" id="password" > 
            </div>

            <input class="btnlogin" type="submit" value="Login">
            <a  class="btncad" href="./cadastro.html">Cadastre-se</a>
        </div>
    </form>
</body>
</html>